@font-face {
  font-family: "TTRationalist";
  src: url("../fonts/TTRationalistMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTRationalist";
  src: url("../fonts/TTRationalistDemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TTRationalist";
  src: url("../fonts/TTRationalistBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTRationalist";
  src: url("../fonts/TTRationalistExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "TTRationalist", sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #344246;
}

a,
button,
input,
textarea {
  font-family: "TTRationalist", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 576px) {
  .header {
    padding: 16px 0;
  }
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
  max-width: 1350px;
  height: 310px;
}
@media (max-width: 1200px) {
  .header .container {
    height: 220px;
  }
}
@media (max-width: 992px) {
  .header .container {
    gap: 24px;
    height: 190px;
  }
}
@media (max-width: 768px) {
  .header .container {
    height: 140px;
  }
}
@media (max-width: 576px) {
  .header .container {
    gap: 16px;
    height: auto;
  }
}
.header__logo-image {
  display: block;
  max-width: 100%;
  width: 1180px;
  height: auto;
}
.header__social {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 576px) {
  .header__social {
    gap: 8px;
  }
}
.header__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: 54px;
  border: 3px solid #271301;
  background: url(../assets/button-bg.svg) center no-repeat;
  background-size: cover;
  box-shadow: 4px 4px 0 #271301;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__social-link {
    width: 48px;
    border-width: 2px;
    box-shadow: 2px 2px 0 #271301;
  }
}
@media (max-width: 768px) {
  .header__social-link {
    width: 36px;
    box-shadow: 1px 1px 0 #271301;
  }
}
@media (max-width: 576px) {
  .header__social-link {
    width: 28px;
    border-width: 2px;
  }
}
.header__social-link::before {
  content: "";
  display: inline-block;
  width: 40px;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 992px) {
  .header__social-link::before {
    width: 24px;
    background-size: 24px;
  }
}
@media (max-width: 768px) {
  .header__social-link::before {
    width: 20px;
    background-size: 20px;
  }
}
@media (max-width: 576px) {
  .header__social-link::before {
    width: 16px;
    background-size: 16px;
  }
}
.header__social-link_x::before {
  background-image: url(../assets/x.svg);
}
.header__social-link_tg::before {
  background-image: url(../assets/tg.svg);
}

.first-screen {
  padding-top: 334px;
  background: url(../assets/first-screen-bg.webp) center bottom no-repeat;
  background-size: cover;
}
@media (max-width: 1200px) {
  .first-screen {
    padding-top: 244px;
  }
}
@media (max-width: 992px) {
  .first-screen {
    padding-top: 214px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    padding-top: 164px;
  }
}
@media (max-width: 576px) {
  .first-screen {
    padding-top: 124px;
  }
}
@media (max-width: 400px) {
  .first-screen {
    padding-top: 110px;
  }
}
.first-screen .container {
  display: flex;
  max-width: 1436px;
}
@media (max-width: 992px) {
  .first-screen .container {
    flex-direction: column;
    gap: 40px;
    max-width: 635px;
  }
}
@media (max-width: 768px) {
  .first-screen .container {
    gap: 20px;
  }
}
.first-screen__gollume {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-screen__gollume-image {
  display: block;
  max-width: 100%;
}
@media (max-width: 992px) {
  .first-screen__gollume-image {
    width: 595px;
  }
}
.first-screen__info {
  flex: 0 0 595px;
}
@media (max-width: 1200px) {
  .first-screen__info {
    flex: 0 0 500px;
  }
}
@media (max-width: 992px) {
  .first-screen__info {
    flex: 0 1 auto;
    max-width: 595px;
    margin: 0 auto;
  }
}
.first-screen__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #bb320e;
  text-shadow: 1px 1px #271301, -1px -1px #271301, -1px 1px #271301, 1px -1px #271301, -3px 3px #fdab60, 4px 4px #271301;
  transform: rotate(-3deg);
}
@media (max-width: 768px) {
  .first-screen__title {
    margin: 0 0 16px;
    font-size: 56px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    font-size: 46px;
  }
}
@media (max-width: 400px) {
  .first-screen__title {
    font-size: 36px;
    text-shadow: 1px 1px #271301, -1px -1px #271301, -1px 1px #271301, 1px -1px #271301, -2px 2px #fdab60, 3px 3px #271301;
  }
}
.first-screen__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 30px;
  box-sizing: border-box;
  aspect-ratio: 2.8876936/1;
  background: url(../assets/counter-bg.svg) center no-repeat;
}
@media (max-width: 576px) {
  .first-screen__counter {
    gap: 3vw;
    padding-top: 15px;
  }
}
.first-screen__counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-screen__counter-item-value {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fdab60;
  text-shadow: 1.5px 1.5px #271301, -1.5px 1.5px #271301, 1.5px -1.5px #271301, -1.5px -1.5px #271301;
}
@media (max-width: 1200px) {
  .first-screen__counter-item-value {
    font-size: 56px;
  }
}
@media (max-width: 992px) {
  .first-screen__counter-item-value {
    font-size: 64px;
  }
}
@media (max-width: 576px) {
  .first-screen__counter-item-value {
    font-size: 12vw;
    text-shadow: 1px 1px #271301, -1px 1px #271301, 1px -1px #271301, -1px -1px #271301;
  }
}
.first-screen__counter-item-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fdab60;
  text-shadow: 1.5px 1.5px #271301, -1.5px 1.5px #271301, 1.5px -1.5px #271301, -1.5px -1.5px #271301;
}
@media (max-width: 1200px) {
  .first-screen__counter-item-name {
    font-size: 28px;
  }
}
@media (max-width: 992px) {
  .first-screen__counter-item-name {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .first-screen__counter-item-name {
    font-size: 4.5vw;
    text-shadow: 1px 1px #271301, -1px 1px #271301, 1px -1px #271301, -1px -1px #271301;
  }
}
.first-screen__course {
  margin: 29px 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #bb320e;
  text-shadow: 1px 1px #271301, -1px -1px #271301, -1px 1px #271301, 1px -1px #271301, -3px 3px #fdab60, 4px 4px #271301;
}
@media (max-width: 1200px) {
  .first-screen__course {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .first-screen__course {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .first-screen__course {
    font-size: 6.5vw;
    text-shadow: 1px 1px #271301, -1px -1px #271301, -1px 1px #271301, 1px -1px #271301, -2px 2px #fdab60, 3px 3px #271301;
  }
}
.first-screen__presale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 654px;
  padding: 30px 20px 20px;
  aspect-ratio: 0.9110568/1;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #fff;
  background: url(../assets/qr-bg.svg) center no-repeat;
}
@media (max-width: 1200px) {
  .first-screen__presale {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .first-screen__presale {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .first-screen__presale {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .first-screen__presale {
    padding: 40px 20px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .first-screen__presale {
    padding: 14px;
    font-size: 14px;
  }
}
.first-screen__presale-text {
  margin: 0 0 6px;
}
@media (max-width: 576px) {
  .first-screen__presale-text {
    margin-bottom: 3px;
  }
}
.first-screen__presale-code {
  font-weight: 700;
  word-break: break-all;
}
.first-screen__presale-code-button {
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 0;
  border: none;
  background: url(../assets/copy.svg) center no-repeat;
  background-size: contain;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .first-screen__presale-code-button {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 992px) {
  .first-screen__presale-code-button {
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 576px) {
  .first-screen__presale-code-button {
    height: 16px;
    width: 16px;
  }
}
.first-screen__presale-qr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0 2px;
}
@media (max-width: 576px) {
  .first-screen__presale-qr {
    flex: 1 1 50%;
    margin: 2px 0;
  }
}
@media (max-width: 400px) {
  .first-screen__presale-qr {
    flex: 0 1 40%;
  }
}
.first-screen__presale-qr-image {
  display: block;
  max-width: 100%;
}
@media (max-width: 1200px) {
  .first-screen__presale-qr-image {
    width: 320px;
  }
}
@media (max-width: 992px) {
  .first-screen__presale-qr-image {
    width: 370px;
  }
}
@media (max-width: 768px) {
  .first-screen__presale-qr-image {
    width: 340px;
  }
}
@media (max-width: 576px) {
  .first-screen__presale-qr-image {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
  }
}
.first-screen__presale-disclaimer {
  max-width: 352px;
  margin: 0 auto;
  transform: rotate(-3.5deg);
}

.roadmap {
  position: relative;
  padding: 200px 0 22px;
  overflow: hidden;
  background: url(../assets/roadmap-bg.webp) center no-repeat;
  background-size: 100% 100%;
}
.roadmap__advantages {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px 16px;
  padding: 16px 16px 12px;
  border-top: 2px solid #271301;
  border-bottom: 5px solid #271301;
  background-color: #bb320e;
  transform: rotate(-1deg);
}
@media (max-width: 768px) {
  .roadmap__advantages {
    gap: 4px 8px;
    padding: 12px 12px 8px;
  }
}
.roadmap__advantages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 12px;
  background-color: #fdab60;
}
@media (max-width: 768px) {
  .roadmap__advantages::before {
    height: 8px;
  }
}
.roadmap__advantages-item {
  display: flex;
  align-items: center;
}
.roadmap__advantages-item-icon {
  max-width: 36px;
  transform: rotate(12deg);
}
@media (max-width: 992px) {
  .roadmap__advantages-item-icon {
    max-width: 30px;
  }
}
@media (max-width: 576px) {
  .roadmap__advantages-item-icon {
    max-width: 24px;
  }
}
@media (max-width: 400px) {
  .roadmap__advantages-item-icon {
    max-width: 20px;
  }
}
.roadmap__advantages-item-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-align: center;
  color: #ffa24b;
  text-shadow: 1px 1px #271301, -1px -1px #271301, -1px 1px #271301, 1px -1px #271301, 3px 3px #271301;
  transform: rotate(-2deg);
}
@media (max-width: 992px) {
  .roadmap__advantages-item-text {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .roadmap__advantages-item-text {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .roadmap__advantages-item-text {
    font-size: 14px;
  }
}
.roadmap__wrapper {
  display: flex;
  position: relative;
}
@media (max-width: 992px) {
  .roadmap__wrapper {
    flex-direction: column-reverse;
    max-width: 595px;
    margin: 0 auto;
  }
}
.roadmap__wrapper-block {
  flex: 0 0 50%;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .roadmap__wrapper-block {
    flex: 0 1 auto;
  }
}
.roadmap__wrapper-block_right {
  margin-left: -20px;
}
@media (max-width: 992px) {
  .roadmap__wrapper-block_right {
    margin: 0 0 -20px;
  }
}
.roadmap__title {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 144px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: right;
  color: #bb320e;
  text-shadow: 2px 2px #271301, -2px -2px #271301, -2px 2px #271301, 2px -2px #271301, -6px 6px #fdab60, 8px 8px #271301;
  transform: rotate(-3deg);
}
@media (max-width: 992px) {
  .roadmap__title {
    margin: 0 0 24px;
    font-size: 80px;
    text-align: center;
  }
}
.roadmap__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  box-sizing: border-box;
  padding: 30px 50px 40px;
  background-color: #fdab60;
}
@media (max-width: 576px) {
  .roadmap__card {
    padding: 30px 30px 40px;
  }
}
.roadmap__card_diamond {
  z-index: 4;
}
.roadmap__card_cool {
  margin-top: -40px;
  z-index: 2;
}
.roadmap__card_explode {
  z-index: 1;
}
.roadmap__card_speaker {
  margin-top: -40px;
  z-index: 3;
}
.roadmap__card_diamond, .roadmap__card_cool {
  width: 100%;
  aspect-ratio: 1.2935479/1;
  background: url(../assets/roadmap-card-left-bg.svg) center no-repeat;
}
.roadmap__card_explode, .roadmap__card_speaker {
  align-items: flex-end;
  width: 100%;
  padding-top: 20px;
  aspect-ratio: 1.291595197/1;
  background: url(../assets/roadmap-card-right-bg.svg) center no-repeat;
}
.roadmap__card-image {
  max-width: 144px;
  filter: drop-shadow(4px 4px #271301);
}
@media (max-width: 576px) {
  .roadmap__card-image {
    max-width: 80px;
  }
}
@media (max-width: 400px) {
  .roadmap__card-image {
    max-width: 60px;
  }
}
.roadmap__card_diamond .roadmap__card-image, .roadmap__card_cool .roadmap__card-image {
  transform: rotate(14deg);
}
.roadmap__card_explode .roadmap__card-image, .roadmap__card_speaker .roadmap__card-image {
  transform: rotate(-14deg);
}
.roadmap__card-text {
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #bb320e;
  text-shadow: 1px 1px #271301, -1px -1px #271301, -1px 1px #271301, 1px -1px #271301, -2px 2px #ffa24b, 3px 3px #271301;
}
@media (max-width: 1200px) {
  .roadmap__card-text {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .roadmap__card-text {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .roadmap__card-text {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .roadmap__card-text {
    font-size: 19px;
  }
}
.roadmap__card_diamond .roadmap__card-text, .roadmap__card_cool .roadmap__card-text {
  transform: rotate(-3deg);
}
.roadmap__card_explode .roadmap__card-text, .roadmap__card_speaker .roadmap__card-text {
  text-align: right;
  transform: rotate(3deg);
}

.partners {
  padding: 41px 0 30px;
}
.partners__title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #84a2aa;
  text-align: center;
  text-shadow: 2px 2px #271301, -2px -2px #271301, -2px 2px #271301, 2px -2px #271301, 6px 6px #608089;
  transform: rotate(-3deg);
}
@media (max-width: 576px) {
  .partners__title {
    font-size: 64px;
  }
}
.partners__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.partners__link {
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 96px;
  box-shadow: 4px 4px #608089;
}
@media (max-width: 576px) {
  .partners__link {
    border-width: 1px;
  }
}
.partners__link-image {
  display: block;
  max-width: 92px;
  width: 100%;
}
@media (max-width: 576px) {
  .partners__link-image {
    max-width: 64px;
  }
}