@font-face {
  font-family: 'TTRationalist';
  src: url('../fonts/TTRationalistMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTRationalist';
  src: url('../fonts/TTRationalistDemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TTRationalist';
  src: url('../fonts/TTRationalistBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTRationalist';
  src: url('../fonts/TTRationalistExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: 'TTRationalist', sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: $black;
  background-color: #344246;
}

a,
button,
input,
textarea {
  font-family: 'TTRationalist', sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  max-width: 740px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #bb320e;
  text-shadow: 1px 1px #271301, -1px -1px #271301, -1px 1px #271301, 1px -1px #271301,
    -3px 3px #fdab60, 4px 4px #271301;
  transform: rotate(-3deg);
}
